.container {
    height: 100vh; 
    width: 100vw; 
    background-color: #21204c;
    display: flex;

}

.gridContainer {
    width: 90vw;  
    height: 30vh; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 20px; 
    border-radius: 20px;
    padding: 10px;
}


.gridContainer div {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.one{
    background-color: #21204c;
    color: white;
    grid-column: span 3;
    grid-row: span 3;
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    font-family: Playfair Display,serif;
    font-weight: bolder;
    font-size: 6rem;
    height: 27rem;
}

.nine{
    background-color: #21204c;
    color: white;
    display: flex;
    align-items: flex-start;
    font-family: Playfair Display,serif;
    font-weight: bolder;
    font-size: 1rem;
    height: 10rem;
    padding: 2rem;
    width: 45rem;
}

.ten{
    background-color: #21204c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 30rem;
}

.ten .btn{
    background-color: white;
    color:  black;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 5.5);
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-family: Playfair Display,serif;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.ten .btn  div{
  font-size: 2rem;
  color: blue;
}