.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f4;
    padding: 15px 30px;
    color: black;
  }
  

  .logo img {
    height: 5rem;
  }
  

  .navList {
    display: flex;
    gap: 15px;
    list-style: none;
  }
  
  .navLink {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
  }
  
  .navLink:hover{
    background-color: #ffcc00;
    color: #00171f;
  }
  


  .knobWrapper {
    margin-right: 30px;
  }
  