.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 80vh;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    background-color: #ff2e2e;
}

.footer {
    background-color: #00171f;
    min-height: 30vh;
    color: #edf2f4;
    text-align: center;
    padding: 2vw;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .main-content {
        padding: 6vw;
    }

    .footer {
        padding: 3vw;
        font-size: 0.9rem;
    }
}
